<%= form_with model: @post, url: user_posts_path, class: "form" do |f| %>
    <div class="form-content">
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>

    <div class="form-content">
        <%= f.label :text %>
        <%= f.text_field :text %>
    </div>

    <%= f.submit "Add post" %>
<% end %>
