<div class="post">
<div class="post_container">
  <p>Post #<%= @post.id %> by <%=@user.name %>
  </p>
  <p class="post_comments_counter"> Comments: <%= @post.comments_counter%>, Likes: <%= @post.likes_counter%></p>
  <p><%= @post.text %></p>
</div>
<div class="comment_container">
  <% @post.comments.each do |comment| %>
    <div class="comment">
      <p><%= comment.author.name %>: Comment <%= comment.text %></p>
    </div>
  <% end %>
</div>
<div class="engagement_container">
  <%= form_with model: @like, url: user_post_likes_path(user_id: @post.author.id, post_id: @post.id), local: true do |f| %>
        <%= f.submit "like", class: "btn" %>
  <% end %>
  <button type="button" class="btn"><%= link_to "add new comment", new_user_post_comment_path(user_id: @post.author.id, post_id: @post.id)  %></button>
  </div>
</div>
